- var list = [{name: "About"},{name:"FAQ"},{name:"Blog"},{name:"Services"},{name:"Customer"}]


footer.footer
	div.footer__options
		h4.footer__options.title VALUE
		ul.footer__options.list
			each item in list
				li=item.name