section.base
      .base__list
        ul.services
          li.services__item
            span.services__logo
              img.services__pic.services__pic_web(src='src/img/logo-web.png', alt='', width='40', height='40')
            h2.services__heading Web Design
            p.services__text
              | This is Photoshop`s version of Lorem Ipsum. proim gravida nibh vel velit auctor aliquet mauris.
          li.services__item
            span.services__logo
              img.services__pic.services__pic_anchor(src='src/img/logo-design.png', alt='', width='40', height='40')
            h2.services__heading Logo Design
            p.services__text
              | This is Photoshop`s version of Lorem Ipsum. proim gravida nibh vel velit auctor aliquet mauris.
          li.services__item
            span.services__logo
              img.services__pic.services__pic_print(src='src/img/logo-print.png', alt='', width='40', height='40')
            h2.services__heading Print Design
            p.services__text
              | This is Photoshop`s version of Lorem Ipsum. proim gravida nibh vel velit auctor aliquet mauris.