header.header__menu
        a.header__link(href='#')
          img.header__img(src='src/img/logo_top.png', alt='logo')
        a#toggle.toggle(href='#menu')
          span#bar.bar
        nav#header__nav.header__nav
          ul#nav-list.nav-list
            li.nav_list__item
              a.nav_list__link(href='#') services
            li.nav_list__item
              a.nav_list__link(href='#') how
            li.nav_list__item
              a.nav_list__link(href='#') ourwork
            li.nav_list__item
              a.nav_list__link(href='#') testimonials
            li.nav_list__item
              a.nav_list__link(href='#') team
            li.nav_list__item
              a.nav_list__link(href='#') contact us
        button.header__button Sign in
      .header__about
        .header__text
          img.header__pic(src='src/img/Rocket.png', alt='Rocket', width='60', height='60')
          h1.header__heading Let`s explore the sky!
          p.header__subtitle
            | This is Photoshop`s version of Lorem Ipsum. proim gravida nibh vel velit auctor aliquet.
        .buttons
          button.buttons__base.buttons__base_left Learn more
          button.buttons__base.buttons__base_right Contact us
          button.buttons__base.buttons__base_circle or