.container
      img.slide(src='src/img/header__background.png')
      img.slide(src='src/img/Searching-For-Something.jpg')
      img.slide(src='src/img/header__background.png')
    .slider
      button.slider__button
      button.slider__button
      button.slider__button