*{
  padding: 0;
  margin: 0;
}

body{
  max-width: 1350px;
  height: 100%;
  margin: 0 auto;
}

.header{
  height: 690px;
  background: url(../../src/img/header__background.png) center no-repeat;
  padding: 0 180px;
}

.header__menu{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header__link{
  width: 100%;
  max-width: 175px;
}

.header__nav{
  width: 100%;
  max-width: 620px;
  position: absolute;
  right: 0;
}

.nav-list{
  list-style: none;
}

.nav_list__item{
  display: inline-block;
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  font-size: 14px;
  line-height: 1.5;
}

.nav_list__link{
  text-decoration: none;
  padding: 12px;
  color: #fff;
  text-transform: uppercase;
}

.header__button{
  width: 76px;
  font-size: 14px;
  line-height: 2.4;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  text-transform: uppercase;
}

.header__about{
  width: 100%;
  max-width: 720px;
  height: 440px;
  padding-left: 145px;
}

.header__text{
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.header__pic{
  padding-bottom: 75px;
}

.header__heading{
  color: #fff;
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.5;
}

.header__subtitle{
  color: #fff;
  font-size: 14px;
  font-family: 'OpenSans', Arial, Helvetica;
  line-height: 1.5;
  padding-bottom: 60px;
}

.buttons{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons__base{
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  line-height: 4.2;
  border: none;
  cursor: pointer;
  outline: none;
}

.buttons__base_left{
  background-color: #59a3fc;
  width: 175px;
  border-radius: 10px 0 0 10px;
}

.buttons__base_right{
  background-color: #3d92f9;
  width: 175px;
  border-radius: 0 10px 10px 0;
}

.buttons__base_circle{
  position: relative;
  right: 189px;
  background-color: #0078b2;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 2;
}

.slider{
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider__button{
  width: 12px;
  height: 12px;
  color: #636363;
  border: none;
  border-radius: 50%;
  opacity: 0.4;
  margin-right: 18px;
}

.slider__button:last-child{
  margin-right: 0px;
}

.slider__button_white{
  color: #b7b7b7;
  opacity: 1;
}

/* верстка base */

.base{
  background-color: #e7eef6;
  height: 290px;
}

.base__nav{
  padding: 0 180px;
  padding-top: 30px;
}

.services{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__logo{
  width: 95px;
  height: 95px;
  background-color: #cadaec;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.services__pic{

}

.services__heading{
  padding-top: 25px;
  font-family: 'Montserrat-Bold', Arial, Helvetica;
  font-size: 20px;
  line-height: 1.5;
}

.services__text{
  padding-top: 25px;
  font-family: 'OpenSans', Arial, Helvetica;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
